*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;


}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid hsl(212, 45%, 89%);
    text-align: center;
}

.container__component img{
    width: 100%;
    border-radius: 15px;
}

.container__component h2{
    font-size: 1.3rem;
    margin: 15px 0px 20px 0px;
}


.container__component p{
    font-size: .9rem;
    color:hsl(212, 9%, 61%) ;
}

